@{
    Layout = null;
}
 @using  CRM.WebHelper
 @using  CRM.Model 
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Index</title>
    <script type="text/javascript">

        var tab;

        $(function () {
            //1.0 开始进行layout 布局 
            $("#layout1").ligerLayout({ leftWidth: 250 });
            //2.0 初始化我的左边 菜单
            $("#lefMenus").ligerAccordion({ height: 300 });
            // 初始化默认的Tab 
         tab =    $("#tab1").ligerTab({ height :"100%"
                                
               
                
         });


             
        }) 

        // 负责打开一个tab 如果发现所有有打开的tab 中  有 tabid 则  选择此tab 
        function addTab(tabid, url, title) {
            tab.addTabItem({
                    tabid: tabid,
                    url: url,
                    text: title
                });
        }
    </script>
</head>
<body>
   <div id="layout1">
           <!--左菜单 -->
             <div  position="left">
                  <div id="lefMenus"> 
        @* <div title="功能列表">
              <ul>
                    <li> <a href="/admin/keyval/index"> 数据字典管理</a></li>
                 
                </ul>
        </div>*@
       @* 动态生成菜单数据 *@
         @{
             // 1.0 获取菜单数据集合 
          var list  =      ViewBag.mlist as List< sysMenus> ;
          
          // 2.0 遍历 list 中的一级菜单
          if(list !=null  && list.Any())    
          {
          foreach( var meum in list) 
          {
              //  表示是一级菜单
           if( meum.mParentID ==-1)
           {
             <div title="@meum.mName"> 
                 <ul>
                 <!--生成以及菜单的二级菜单-->
                  @foreach( var  secMeum in  list)
                  {
                   //   判断当前的secMeum是否为meum 这个菜单的 子菜单 
                      
                      if( secMeum.mParentID  == meum.mID)
                      {
                           
                    <li> <a href=" javascript:void(0)" onclick="addTab(@secMeum.mID,'@secMeum.mUrl','@secMeum.mName')"  ><i class="@secMeum.mPicname"> </i> @secMeum.mName</a></li>
                 
               
                       
                      }
                  }
                      </ul>

                 </div>
           }
          }




          }
             }              

  
    </div>   


             </div>
       <!-- 具体的业务内容 -->
            <div position="center"  title="标题" id="tab1">
              <div title="我的工作台" style="overflow:hidden; border:1px solid #A3C0E8; "> 
                  <iframe >

                  </iframe>
           </div>
            </div>
            
       <!-- 顶部  -->
            <div position="top"  class="top1">
                  <a href="#" class="title">  CRM客户关系管理系统</a> 
                <ul>
                   <li>
                       <img src="/images/avatar.gif" style="height:29px;" />  </li>
                       <li> 欢迎【@UserMgr.GetCurrentUserInfo().uRealName】登录</li>
                       <li><a href="Login/Logout"> 退出</a> </li> 
                 
                </ul>
            </div>
           
        </div> 
</body>
</html>
