@model CRM.Model.ModelViews.wfRequestFormView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add</title>
</head>
<body>
    <div  style="margin-top: 15px;" >
         @using (Ajax.BeginForm("add", "requestform", new AjaxOptions
         {
             Url = Url.Action("add", "requestfrom"),
             HttpMethod = "post",
             OnBegin = "helper.ajaxbegin",
             OnSuccess = "helper.ajaxsuccess"


         }))
         {
            <table class="list">
                <tr>
                    <th>@Html.DisplayNameFor(c => c.wfID)</th>
                    <td>
                        @Html.DropDownListFor(c => c.wfID, ViewBag.wflist as SelectList)
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(c => c.wfRFTitle)</th>
                    <td>
                        @Html.TextBoxFor(c => c.wfRFTitle)
                        @Html.ValidationMessageFor(c => c.wfRFTitle)
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(c => c.wfRFRemark)</th>
                    <td>
                        @Html.TextAreaFor(c => c.wfRFRemark, new { style = "width:150px;height:70px;" })
                        @Html.ValidationMessageFor(c => c.wfRFRemark)
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(c => c.wfRFPriority)</th>
                    <td>
                        @Html.DropDownListFor(c => c.wfRFPriority, ViewBag.prilist as SelectList)
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(c => c.wfRFNum)</th>
                    <td>
                        @Html.TextBoxFor(c => c.wfRFNum)
                        @Html.ValidationMessageFor(c => c.wfRFNum)
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <input type="submit" value="提交" />
                        <input type="button" value="关闭" onclick="window.parent.helper.win.close()" />
                    </td>
                </tr>
            </table>
         }

    </div>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</body>
</html>
